<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:installLocation="auto"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="ahapps.controlthescreenorientation"
    platformBuildVersionCode="31"
    platformBuildVersionName="12"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Este app pode se sobrepor visualmente a outros apps ou a outras partes da tela. Isso pode interferir no uso normal do app e alterar a forma como os outros apps são exibidos. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Permite que o app inicie-se logo que o sistema concluir a inicialização. Isso pode tornar a inicialização do telefone mais lenta e permitir que o app deixe o telefone mais lento por estar sempre em execução. -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Permite que o app use serviços em primeiro plano. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permite que o usuário compre itens no Google Play usando este app. -->
    <uses-permission
        android:name="com.android.vending.BILLING" />
    <application
        android:theme="@style/myAppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="ahapps.controlthescreenorientation.ControlScreenOrientationApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <service
            android:label="@string/app_name"
            android:icon="@drawable/sensor"
            android:name="ahapps.controlthescreenorientation.QSTService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:theme="@style/myAppTheme"
            android:label="@string/app_name"
            android:name="ahapps.controlthescreenorientation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="ahapps.controlthescreenorientation.Control_service" />
        <activity
            android:theme="@style/myAppTheme"
            android:label="@string/select_screen_orientation"
            android:name="ahapps.controlthescreenorientation.Orentation_select" />
        <activity
            android:theme="@style/myAppTheme"
            android:name="ahapps.controlthescreenorientation.Help_activity" />
        <activity
            android:label="@string/privacy_policy"
            android:name="ahapps.controlthescreenorientation.ActivityPrivacyPolicy" />
        <receiver
            android:name="ahapps.controlthescreenorientation.bootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/roundedDialogTheme"
            android:name="ahapps.controlthescreenorientation.ActivityDialogStopService"
            android:taskAffinity=""
            android:allowTaskReparenting="false" />
        <activity
            android:label="@string/about"
            android:name="ahapps.controlthescreenorientation.ActivityAbout" />
        <activity
            android:label="@string/terms_of_service"
            android:name="ahapps.controlthescreenorientation.ActivityTermsOfService" />
        <activity
            android:label="@string/license_details"
            android:name="ahapps.controlthescreenorientation.ActivityLicensesDetails" />
        <activity
            android:theme="@style/roundedDialogTheme"
            android:name="ahapps.controlthescreenorientation.ActivityDialogRemoveQuickStartNotification"
            android:taskAffinity=""
            android:allowTaskReparenting="false" />
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="5.0.0" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ahapps.controlthescreenorientation.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
    </application>
</manifest>